{% extends 'base.jinja2' %}

{% block subtitle %}Landing Page{% endblock subtitle %}

{% block content %}

<p>This is the main landing page - to use this site do ***this and than***</p>

<form method="GET" action={{ url_for('part_page') }}>
    <select name = search_type method="GET" action="/">
        <option value="{{options[0]}}" selected>{{options[0]}}</option>
        {% for option in options[1:] %}
            <option value= "{{ option}}">{{option}}</option>
        {% endfor %}
        <label for="number">Number: </label><input type="text" id='number' name='part_number'>
    <input type='submit' value="Submit">
    <br>
    <input type="checkbox" name="Description" value="True" checked>Description
    <input type="checkbox" name="Obsolete" value="Obsolete">Obsolete

{% endblock content %}
