{% extends 'base.jinja2' %}

{% block subtitle %}Javascript Page: Parts{% endblock subtitle %}

{% block content %}
<table id="AllTable">
  <tr class="header">
    {% for title in titles %}
        <th style="width:60pt;">{{ title }}</th>
    {% endfor %}
  </tr>
  <tr>
  {% for title in titles %}
    {% if title == "Part_Type" %}
      <td><select id="select_{{ title }}" onchange="Filter('{{ title }}')" class='form-control'>
          <option></option>
          <option>DET</option>
          <option>ASSY</option>
          </select></td>
    {% elif title == "CLG_Type" %}
        <td><select id="select_{{ title }}" onchange="Filter('{{ title }}')" class='form-control'>
            <option></option>
            <option>A</option>
            <option>B</option>
            </select></td>
    {% elif title == "Side" %}
        <td><select id="select_{{ title }}" onchange="Filter('{{ title }}')" class='form-control'>
            <option></option>
            <option>LH</option>
            <option>RH</option>
            </select></td>
    {% elif title == "Location" %}
        <td><select id="select_{{ title }}" onchange="Filter('{{ title }}')" class='form-control'>
            <option></option>
            <option>CTR</option>
            <option>Outboard</option>
            </select></td>
    {% elif title == "STA" %}
        <td><select id="select_{{ title }}" onchange="Filter('{{ title }}')" class='form-control'>
            <option></option>
            <option>Const</option>
            <option>Non Const</option>
            </select></td>
    {% else %}
        <td><select id="select_{{ title }}" onchange="Filter('{{ title }}')" class='form-control'>
            <option></option>
    {% endif %}
    {% endfor %}
  <tr>
    {% for data_row in data %}
        {% for item in data_row  %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
    {% endfor %}

</table>

{% endblock content %}
