{% extends 'base.jinja2' %}

{% block subtitle %}Nested Page:{% endblock subtitle %}

{% block content %}

<div class="switch-field">
    <input type="radio" id="radio-all" name="toggle" value="ALL" checked/>
    <label for="radio-all">ALL</label>
    <input type="radio" id="radio-new" name="toggle" value="NEW" />
    <label for="radio-new">NEW</label>
    <input type="radio" id="radio-existing" name="toggle" value="EXISTING" />
    <label for="radio-existing">EXISTING</label>
</div>

<ul>
	<li><input type="checkbox" id="cb1"/><label for="cb1">Airplane</label> Description: Other Airplane Info
		<ul>
			<li><input type="checkbox" id="cb2"/><label for="cb2">Installation 1</label>
					<ul>
						<li><label>Sub Component </label> 1</li>
						<li><label>Sub Component </label> 2</li>
					</ul>
			</li>
			<li><input type="checkbox" id="cb3"/><label for="cb3">Level 2-B</label>
			<ul>
				<li><input type="checkbox" id="cb5"/><label for="cb5">Level 3-A</label>
					<ul>
						<li><label>Level 4-A</label> Content</li>
						<li><label>Level 4-B</label> Content</li>
						<li><label>Level 4-C</label> Content</li>
						<li><label>Level 4-D</label> Content</li>
					</ul>
				</li>
			<li><input type="checkbox" id="cb6"/><label for="cb6">Level 3-B</label>
					<ul>
						<li><label>Level 4-A</label> Content</li>
						<li><label>Level 4-B</label> Content</li>
					</ul>
				</li>
			<li><input type="checkbox" id="cb7"/><label for="cb7">Level 3-C</label>
					<ul>
						<li><label>Level 4-A</label> Content</li>
						<li><label>Level 4-B</label> Content</li>
						<li><label>Level 4-C</label> Content</li>
					</ul>
				</li>
		</ul>
			</li>
			<li><input type="checkbox" id="cb4"/><label for="cb4">Level 2-C</label>
					<ul>
						<li><label>Level 3-A</label> Content</li>
					</ul>
			</li>
		</ul>
	</li>
    <li><input type="checkbox" id="cb8"/><label for="cb8">Airplane</label>
		<ul>
			<li><input type="checkbox" id="cb2"/><label for="cb2">Installation 1</label>
					<ul>
						<li><label>Sub Component </label> 1</li>
						<li><label>Sub Component </label> 2</li>
					</ul>
			</li>
			<li><input type="checkbox" id="cb3"/><label for="cb3">Level 2-B</label>
			<ul>
				<li><input type="checkbox" id="cb5"/><label for="cb5">Level 3-A</label>
					<ul>
						<li><label>Level 4-A</label> Content</li>
						<li><label>Level 4-B</label> Content</li>
						<li><label>Level 4-C</label> Content</li>
						<li><label>Level 4-D</label> Content</li>
					</ul>
				</li>
			<li><input type="checkbox" id="cb6"/><label for="cb6">Level 3-B</label>
					<ul>
						<li><label>Level 4-A</label> Content</li>
						<li><label>Level 4-B</label> Content</li>
					</ul>
				</li>
			<li><input type="checkbox" id="cb7"/><label for="cb7">Level 3-C</label>
					<ul>
						<li><label>Level 4-A</label> Content</li>
						<li><label>Level 4-B</label> Content</li>
						<li><label>Level 4-C</label> Content</li>
					</ul>
				</li>
		</ul>
			</li>
			<li><input type="checkbox" id="cb4"/><label for="cb4">Level 2-C</label>
					<ul>
						<li><label>Level 3-A</label> Content</li>
					</ul>
			</li>
		</ul>
	</li>
</ul>

{% endblock content %}
